RewriteEngine on

Options -Indexes +MultiViews

ErrorDocument 403 /error-docs/403.html
ErrorDocument 404 /error-docs/404.html
ErrorDocument 405 /error-docs/405.html
ErrorDocument 500 /error-docs/500.html
ErrorDocument 501 /error-docs/501.html

## Permanent redirects for old URLs that are in the wild
Redirect permanent /vis /software/vis
Redirect permanent /vied /software/vied
Redirect permanent /cfs /software/cfs
Redirect permanent /chi /software/chi
Redirect permanent /sibuilder /software/sib
# May need to remove ".html" from following in later version of site
Redirect permanent /software/sibuilder.html /software/sib

## Short form URL known to be used: may restore short form urls so making this temporary
Redirect 307 /view/url/codesnip-home /software/codesnip

## Temporary redirects to DelphiDabbler blog while deciding whether to incorporate RSS feed in site
Redirect 307 /blog https://delphidabbler.blogspot.com/
Redirect 307 /news https://delphidabbler.blogspot.com/

## Temporary redirects until articles are re-implemented with PHP and there is no need for an articles folder or .html
RedirectMatch 307 /articles/(\d{1,2})$ /articles/article-$1.html
RedirectMatch 307 /articles/article-(\d{1,2})$ /articles/article-$1.html
RedirectMatch 307 /articles/$ /articles.html
Redirect 307 /articles.php /articles

## Temporary redirects until tips are re-implemented with PHP and there is no need for a tips folder or .html
Redirect 307 /tips/ /tips.html

#RedirectMatch 307 ^/codelib/ide$ /codelib.html
RedirectMatch 307 /codelib$ /codelib.html
RedirectMatch 307 /codelib/$ /codelib.html
RedirectMatch 307 /programs$ /programs.html
RedirectMatch 307 /programs/$ /programs.html


## Parked redirects that may be needed in future

## May need to restore this redirect if the articles feed is reinstated
# Redirect permanent /rss/articles.xml /feeds/articles-feed

## May need to restore this redirect if the "short" url service is restored
# RedirectMatch permanent /url/(.*)$ /view/url/$1
