---
title: Articles
meta-title: "Delphi Pascal Programming Articles | by DelphiDabbler"
---
<script>
  /*
   * Check for query string containing section in form /articles?article=<id>
   * where <id> in [1..25] and redirect such to /articles/article-<id>. Any
   * other query strings are ignored.
   *
   * This required only for articles that existed on the old site. The only
   * valid query strings are 1..25. If new articles are added to the new site
   * no changes are required here because new articles will never have been
   * accessed using the query string method.
   *
   * This functionality added because Google was reporting the old query
   * string URLs are still widely used. See issue #61.
   */

  function redirectIfQueryStr() {

    // get protocol, host and query string: we customise rest of URL
    const protocol = window.location.protocol;
    const host = location.host;
    const [ , queryStr] = window.location.href.split('?');
    if ( ! queryStr )
      return; // no query string

    const queryParts = queryStr.split('&');
    if ( ! queryParts )
      return; // no query string

    const articleQuery = queryParts.find(elt => {
      return elt.startsWith('article=');
    });
    if (! articleQuery)
      return; // no articles component of query string

    const [ , articleIdStr] = articleQuery.split('=');
    if (! articleIdStr )
      return; // no article id specified

    articleId = parseInt(articleIdStr);
    if ( (articleId < 1) || (articleId > 25 ) )
      return; // invalid article id

    // Construct new URL and redirect to it
    // use:
    //   same protocol (could be http: or https:)
    //   same host (could be delphidabbler.com, www.delphidabbler.com or localhost for testing)
    // reconstruct resource using articleId
    window.location = protocol + '//' + host + '/articles/article-' + articleId;
  }

  redirectIfQueryStr();
</script>

  <h1 role="heading">
  Articles
</h1>

<p>This page lists {{ site.articles | size }} articles and tutorials that discuss various aspects of programming. Choose articles of interest from the list below. Many articles include source code examples in Delphi Pascal.</p>

<div class="alert alert-warning">
  <p>
    At present many articles are only available as PDFs. This is because they are taking a <b>lo.....ng</b> time to convert from the old site format to the format required by the new site: there are a lot of changes to make.
  </p>
  <p>
    <i class="fa fa-file-pdf-o fa-x-pad-right"></i>In the meantime you can get the PDFs from the appropriate article page.
  </p>
</div>

{% assign sorted_articles = site.articles | where: "index", true | sort: "article" | reverse %}
{% for article in sorted_articles %}
{% assign test = forloop.index | modulo: 2 %}
{% if test <> 0 %}<div class="row">{% endif %}
  <article role="section" aria-labelledby="art-{{ article.article | escape }}-head">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <header class="panel-heading" id="art-{{ article.article | escape }}-head">
          <h2>{{ article.title | escape }}</h2>
        </header>
        <div class="panel-body">
          <p>{{ article.summary | escape }}</p>
        </div>
        <footer class="panel-footer text-right">
          <a href="/articles/article-{{ article.article }}" aria-label="Read &quot;{{ article.title | escape }}&quot;">Read the article</a>
        </footer>
      </div>
    </div>
  </article>
{% if test == 0 or forloop.last %}
</div> <!-- ./row -->
<!-- Clear the lg cols if their content doesn't match in height -->
<div class="clearfix visible-md-block" role="presentation"></div>
{% endif %}
{% endfor %}

