---
title: Articles
redirect_from:
  - /articles/
---
<h1 role="heading">
  Articles
</h1>

<p>This page lists {{ site.articles | size }} articles and tutorials that discuss various aspects of programming. Choose articles of interest from the list below. Many articles include source code examples in Delphi Pascal.</p>

<p>Full details of copyright are displayed at the bottom of each article.</p>

{% assign sorted_articles = site.articles | sort: "article" | reverse %}
{% for article in sorted_articles %}
{% assign test = forloop.index | modulo: 2 %}
{% if test <> 0 %}<div class="row">{% endif %}
  <article role="section" aria-labelledby="art-{{ article.article | escape }}-head">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <header class="panel-heading" id="art-{{ article.article | escape }}-head">
          <h2>{{ article.title | escape }}</h2>
        </header>
        <div class="panel-body">
          <p>{{ article.summary | escape }}</p>
        </div>
        <footer class="panel-footer text-right">
          <a href="articles/article-{{ article.article }}" aria-label="Read &quot;{{ article.title | escape }}&quot;">Read the article</a>
        </footer>
      </div>
    </div>
  </article>
{% if test == 0 or forloop.last %}
</div> <!-- ./row -->
<!-- Clear the lg cols if their content doesn't match in height -->
<div class="clearfix visible-md-block" role="presentation"></div>
{% endif %}
{% endfor %}

