---
title: Code Library
---
<h1 roll="heading">
  Code Library
</h1>

<p>The DelphiDabbler Code Library comprises numerous open source Delphi components, units containing classes and some IDE extensions. They are all listed below.</p>

<p>Each library member's page provides links that can be used to download the its source.</p>

{% assign projects = site.software | where: "group", "lib" %}
{% assign projects = projects | sort: "priority" %}
{% for project in projects %}
{% assign test = forloop.index | modulo: 2 %}
{% if test <> 0 %}<div class="row">{% endif %}
  <section role="section" aria-labelledby="{{ program.id | escape }}-head">
    <div class="col-sm-6">
      <div class="card dd-shim-card-primary">
        <header class="card-header" id="{{ program.id | escape }}-head">
          <h2>{{ project.title | escape }}</h2>
        </header>
        <div class="card-body">
          <p>{{ project.summary | escape }}</p>
					{% if project.status == "mothballed" %}
					<p class="alert alert-warning small" role="alert"><span class="fa fa-flag fa-lg fa-x-pad-right" aria-hidden="true"></span><span class="sr-only">Note</span> This library project is mothballed. It is being neither developed nor supported.</p>
          {% elsif project.status == "obsolete" %}
					<p class="alert alert-danger small" role="alert"><span class="fa fa-exclamation-triangle fa-lg fa-x-pad-right" aria-hidden="true"></span><span class="sr-only">Note</span> This library project is obsolete. It is being neither developed nor supported and is here only for historical reasons.</p>
					{% endif %}
        </div>
        <div class="card-footer text-right">
          <a href="{{ project.url }}" aria-label="{{ project.title | escape }} page on {{ site.data.core.orig-site-name | escape }}">More info</a>
        </div>
      </div>
    </div>
  </section>
{% if test == 0 or forloop.last %}
</div> <!-- ./row -->
<!-- Clear the lg cols if their content doesn't match in height -->
<div class="clearfix visible-sm-block" role="presentation"></div>
{% endif %}
{%endfor %}
