RewriteEngine on

Options -Indexes -MultiViews

# All 307 redirects are temporary awaiting final site

# map /software/<id> to /software/<id>.html
RedirectMatch 307 ^\/software\/([a-z0-9]+)$ /software/$1.html

# map /software?id=<id> to /software/<id>.html
RewriteCond %{REQUEST_URI} ^/software/$
RewriteCond %{QUERY_STRING} \bid\b=([a-z0-9]+) [NC]
                            
RewriteRule (.*) /software/%1? [R=307,L]

# map /software/<id>/something to /software/<id>.html
RedirectMatch 307 ^\/software\/([a-z0-9]+)(\.html)?\/(.+)$ /software/$1.html
