<meta charset='utf-8'>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport content="width=device-width,initial-scale=1">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ site.data.core.google-fonts-url }}">
<link rel="stylesheet" href="{{ site.data.core.font-awesome-url }}">
<link rel="stylesheet" href="{{ site.base-url }}{{ site.data.core.style-link }}">
<!-- ** load prefixfree.min.js ASAP after styles load to minimise flash of un-CSS3'd content ** -->
<script src="{{ site.base-url }}{{ site.data.core.prefix-free-link }}"></script>