<meta charset='utf-8'>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Peter Johnson (delphidabbler)">
<meta name="description" content="{% if page.meta-desc %}{{ page.meta-desc }}{% else %}Delphi source code and programming articles, tips etc.{% endif %}">
{% if page.meta-keywords %}<meta name="keywords" content="{{ page.meta-keywords }}">{% endif %}
<title>{{ page.title | escape }}</title>
<link rel="stylesheet" href="{{ site.data.core.google-fonts-url }}">
<link rel="stylesheet" href="{{ site.data.core.font-awesome-url }}">
<link rel="stylesheet" href="{{ site.base-url }}{{ site.data.core.style-link }}">
<script src="{{ site.base-url }}{{ site.data.core.prefix-free-link }}"></script>
<script src="{{ site.base-url }}{{ site.data.core.coockies-link }}"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
