<!-- ACCESSIBILITY: Allow screen reader users to skip navigation -->
<div class="sr-only">
  <a href="#content">Skip over navigation</a>
</div>

<nav class="navbar navbar-default" role="navigation">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-toggle-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggle-caption"><span class="navbar-toggle-caption-text" aria-hidden="true">Menu&nbsp;</span><span class="fa fa-bars" aria-label="Drop down menu button"></span></span>
    </button>
    <span class="navbar-brand">{{ site.data.core.logo }}</span>
  </div><!-- /.navbar-header -->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-toggle-collapse">
    <ul class="nav navbar-nav">
      <li{% if page.url == site.data.core.home-link %} class="active"{% endif %}>
        <a href="{{ site.data.core.home-link }}" aria-label="{{ site.data.core.home-link-title }}"><span class="fa fa-home fa-lg hidden-xs" aria-hidden="true"></span><span class="visible-xs-inline" aria-hidden="true">Home</span></a>
      </li>
      <li{% if page.url == site.data.core.apps-link %} class="active"{% endif %}>
        <a href="{{ site.data.core.apps-link }}" aria-label="{{ site.data.core.apps-link-title}}">Applications</a>
      </li>
      <li{% if page.url == site.data.core.lib-link %} class="active"{% endif %}>
        <a href="{{ site.data.core.lib-link }}" aria-label="{{ site.data.core.lib-link-title}}">Code Library</a>
      </li>
      <li{% if page.url == site.data.core.articles-link %} class="active"{% endif %}>
        <a href="{{ site.data.core.articles-link }}" aria-label="{{ site.data.core.articles-link-title}}">Articles</a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">More <span class="fa fa-caret-down" aria-hidden="true"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li{% if page.url == site.data.core.tips-link %} class="active"{% endif %}>
            <a href="{{ site.data.core.tips-link }}" aria-label="{{ site.data.core.tips-link-title}}">Hints &amp Tips</a>
          </li>
          <li{% if page.url == site.data.core.snippets-link %} class="active"{% endif %}>
            <a href="{{ site.data.core.snippets-link }}" aria-label="{{ site.data.core.tips-snippets-title}}">Code Snippets</a>
          </li>
          <li role="separator" class="divider"></li>
          <li{% if page.url == site.data.core.docs-link %} class="active"{% endif %}>
            <a href="{{ site.data.core.docs-link }}" aria-label="{{ site.data.core.tips-docs-title}}">Documentation</a>
          </li>
          <li{% if page.url == site.data.core.notes-link %} class="active"{% endif %}>
            <a href="{{ site.data.core.notes-link }}" aria-label="{{ site.data.core.tips-notes-title}}">Delphi Notes</a>
          </li>
          <li role="separator" class="divider"></li>
          <li{% if page.url == site.data.core.about-link %} class="active"{% endif %}>
            <a href="{{ site.data.core.about-link }}" aria-label="{{ site.data.core.about-link-title}}">About</a>
          </li>
          <li{% if page.url == site.data.core.cookies-page-link %} class="active"{% endif %}>
            <a href="{{ site.data.core.cookies-page-link }}" aria-label="{{ site.data.core.cookies-page-link-title}}">Cookie Policy</a>
          </li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  <div id="skip-nav">
</nav>
