// ** Basic styles

a {
    color: $dd-theme-link;
    background-color: $dd-theme-link-bg;
    border-bottom: $dd-theme-link-border-width $dd-theme-link-border-color $dd-theme-link-border-style;
    text-decoration: none;

    &:hover {
        color: $dd-theme-link-hover;
        background-color: $dd-theme-link-hover-bg;
        border-bottom: $dd-theme-link-border-width $dd-theme-link-border-width $dd-theme-link-hover-border-color;
        text-decoration: none;
    }
}