$list-indent: 40px;
$list-item-offset: 20px;
$dl-indent: 20px;
$dd-indent: 40px;

$page-margin-top:             12px;
$page-margin-bottom:          12px;

$pagefoot-color:              #ffffff;
$pagefoot-bg:                 #333333;
$pagefoot-link-color:         $pagefoot-color;
$pagefoot-credits-color:      #aaaaaa;

$box-bg: $jumbotron-bg;
$box-color: $jumbotron-color;
$box-padding: 10px;
//$box-margin-bottom: 10px;
$box-margin-bottom: ceil($line-height-computed / 1.25);
$box-margin-top: ceil($line-height-computed / 1.25);
$box-font-size: ceil(($font-size-base * 1.2));
$box-strapline-font-size: $box-font-size;
$box-label-padding: 6px;

$sw-page-header-strapline-font-size: $font-size-base;

$font-family-glyph: "FontAwesome";

$table-head-bg: $pre-bg;

$frame-caption-bg: $pre-bg;

$samp-color:               $kbd-color;
$samp-bg:                  darken($brand-primary, 8);
