// Override of navbar BS4 styling

nav.navbar {
    margin-bottom: 1rem;
    border-bottom: 1px solid $dd-theme-primary;
    background-color: $dd-theme-navbar-bg;

    a{
        background-color: transparent;
    }

    .navbar-brand {
        margin-right: 0;
    }

    .navbar-toggler {
        &:focus,
        &:active,
        &-icon:focus {
            outline: none;
            box-shadow: 4px 4px $dd-theme-gray-200;
            border: 1px solid $dd-theme-gray-400;
        }
        &:hover {
            background-color: $dd-theme-navbar-hover-bg;
        }
        &.collapsed {
            box-shadow: none;
        }
    }

    .navbar-nav {
        margin-left: 0;
        .nav-item {
            &:hover {
                background-color: $dd-theme-navbar-hover-bg;
            }
            &.active {
                font-weight: bold;
            }
            .nav-link {
                border-bottom: none;
            }
            @include media-breakpoint-up(lg) {
                &:hover {
                    background-color: transparent;
                }
                .nav-link {
                    border-bottom: 2px solid transparent;
                    padding-bottom: 2px;
                    &:hover {
                        border-bottom: 2px solid $dd-theme-secondary;
                    }
                }
            }
        }

        .dropdown-menu {
            background-color: $dd-theme-navbar-bg;
            padding-right: 0.5rem;
            padding-left: 0.5rem;

            &.show {
                margin-bottom: 1rem;
                margin-right: 1rem;
                border-color: $dd-theme-gray-400;
            }

            .dropdown-item {
                border-bottom: 2px solid transparent;
                &:hover {
                    background-color: $dd-theme-navbar-hover-bg;
                    color: $dd-theme-navbar-hover;
                }
                &.active {
                    background-color: transparent;
                    font-weight: bold;
                    color: $dd-theme-navbar-active;
                    &:hover {
                        background-color: $dd-theme-navbar-hover-bg;
                    }
                }
            }

            .dropdown-divider {
                border-top: 1px solid $dd-theme-gray-400;
            }

            @include media-breakpoint-up(lg) {
                padding-right: 0.25rem;
                padding-left: 0.25rem;

                &.show {
                    border-color: $dd-theme-primary;
                }
            }
        }
    }
}
