// Variables that define the DelpDabbler.com theme

// ** Colours

// -- Main theme colours
$dd-theme-primary:                  #1565c0;
$dd-theme-secondary:                #bbc015;
$dd-theme-tertiary:                 #c01b15;

// -- Lightened versions of main colours
$dd-theme-primary-light:            #d9e9fb;
$dd-theme-secondary-light:          #f7f9c7;
$dd-theme-tertiary-light:           #fbdad9;

// -- Darkened version of main colours
$dd-theme-primary-dark:             #0b3668;
$dd-theme-secondary-dark:           #545609;
$dd-theme-tertiary-dark:            #680f0b;

// -- Greys
$dd-theme-white:                    #ffffff;
$dd-theme-gray-100:                 #f0f0f1;
$dd-theme-gray-200:                 #e6e6e7;
$dd-theme-gray-300:                 #dcddde;
$dd-theme-gray-400:                 #c8c9cb;
$dd-theme-gray-500:                 #a9abae;
$dd-theme-gray-600:                 #6e7074;
$dd-theme-gray-700:                 #48494c;
$dd-theme-gray-800:                 #343638;
$dd-theme-gray-900:                 #212223;
$dd-theme-black:                    #000000;

// -- Contextual
$dd-theme-context-primary:          $dd-theme-primary;
$dd-theme-context-secondary:        $dd-theme-secondary;
$dd-theme-context-success:          #70ac36;  // !TODO: as old site: may need tweaking
$dd-theme-context-info:             #9696BF;  // !TODO: as old site: may need tweaking
$dd-theme-context-warning:          #f0ad4e;  // !TODO BS default: may need tweaking
$dd-theme-context-danger:           #d9534f;  // !TODO BS default: may need tweaking
$dd-theme-context-light:            $dd-theme-gray-100;
$dd-theme-context-dark:             $dd-theme-gray-800;


// ** Typography

// -- Colours

// ---- Body colours
$dd-theme-body-text:                $dd-theme-gray-800;
$dd-theme-body-bg:                  $dd-theme-white;

// ---- Main link styling
// !TODO: will need bg color, bottom border for links - will need style override
$dd-theme-link:                     lighten($dd-theme-primary, 10%);
$dd-theme-link-hover:               $dd-theme-primary;

// ---- Code
$dd-theme-code-bg:                  $dd-theme-gray-600;
$dd-theme-kbd-text:                 $dd-theme-white;
$dd-theme-kbd-bg:                   lighten($dd-theme-primary, 15);
$dd-theme-pre-text:                 $dd-theme-gray-900;

// -- Body font families
$dd-theme-font-sans-serif-font:     'Open Sans', Helvetica, Arial, sans-serif;
$dd-theme-heading-font:             'Open Sans Condensed', $dd-theme-font-sans-serif-font;
$dd-theme-monospace-font:           'Source Code Pro', Consolas, "Courier New", monospace;

// -- Font sizes
// ---- body
$dd-theme-body-font-size:           1rem;
$dd-theme-body-font-size-lg:        ($dd-theme-body-font-size * 1.25);
$dd-theme-body-font-size-sm:        ($dd-theme-body-font-size * .875);
// ---- heading
$dd-theme-h1-font-size:             $dd-theme-body-font-size * 2.5;
$dd-theme-h2-font-size:             $dd-theme-body-font-size * 1.875;
$dd-theme-h3-font-size:             $dd-theme-body-font-size * 1.5;
$dd-theme-h4-font-size:             $dd-theme-body-font-size * 1.125;
$dd-theme-h5-font-size:             $dd-theme-body-font-size;
$dd-theme-h6-font-size:             $dd-theme-body-font-size * 0.85;
// ---- code
$dd-theme-code-font-size:           87.5%;
$dd-theme-kbd-font-size:            $dd-theme-code-font-size;

// -- Font weights
$dd-theme-font-weight-light:        300;
$dd-theme-font-weight-normal:       400;
$dd-theme-font-weight-bold:         700;

// -- Line height
$dd-theme-body-line-height:         1.6;

// ** Jumbotron

$dd-theme-jumbotron-padding:        1.25rem;
$dd-theme-jumbotron-bg:             lighten(#44447F,20%); // !TODO: may need tweaking - copied from old `_dd-bootstrap-variable-overrides.scss` with literal value substituted for `$navbar-default-bg`

// ** Navbar

// We don't use colour change on hover or for active items: custom SASS is used for both these effects.
$dd-theme-navbar-text:              $dd-theme-gray-700;
$dd-theme-navbar-hover:             $dd-theme-gray-700; // inhibits text changing on hover
$dd-theme-navbar-active:            $dd-theme-gray-700;
$dd-theme-navbar-disabled:          $dd-theme-gray-400;
