---
layout: default
---
{% if page.use-github-for-downloads %}
  {%assign dl-url = page.repo-url | append: "/tag/version-" | append: page.version %}
  {%assign dl-label = "Go to the release page of the latest version on GitHub" %}
{% else %}
  {% assign dl-url = page.download-base-url | append: page.dl-file-prefix | append: page.version | append: ".zip" %}
  {% assign dl-label = "Go to SourceForge and download latest version automatically" %}
{% endif %}
{% if page.status == "mothballed" %}
	{% assign headercls = "mothballed" %}
{% elsif page.status == "obsolete" %}
	{% assign headercls = "obsolete" %}
{% else }
	{% assign headercls = "" %}
{% endif %}
<!-- BEGIN code library page content -->
<div class="sw-page-header {{ headercls }}">
  <header>
    <h1>{{ page.title | escape }}</h1>
    <p class="strapline">{{ page.precis | escape }}</p>
    {% if page.want-header-buttons %}
    <div class="text-center">
      <a
        href="{{ dl-url }}"
        class="btn btn-primary"
        aria-label="{{ dl-label }}"
        title="{{ dl-label }}"
      ><span 
        class="fa fa-download fa-x-pad-right" 
        aria-hidden="true">
      </span> Download v{{ page.version }}</a>
    </div>
    {% endif %}
		{% if page.status == "mothballed" %}
		<p class=""><strong><span class="fa fa-flag fa-x-pad-right"></span>Mothballed<span class="fa fa-flag fa-x-pad-left"></span></strong></p>
		{% elsif page.status == "obsolete" %}
		<p class=""><strong><span class="fa fa-exclamation-triangle fa-x-pad-right"></span>Obsolete<span class="fa fa-exclamation-triangle fa-x-pad-left"></span></strong></p>
    {% endif %}
  </header>
</div>

<div class="sw-meta">
  <table>
    <tr>
      <th>Version</th>
      <td>{{ page.version | escape }}</td>
    </tr>
    <tr>
      <th>Released</td>
      <td>{{ page.release-date }}</td>
    </tr>
    <tr>
      <th>Platforms</th>
      <td>{{ page.platforms | join: " & " | escape }}</td>
    </tr>
    <tr>
      <th>Framework</th>
      <td>{{ page.frameworks | join: " & " | escape }}</td>
      </td>
    </tr>
    <tr>
      <th>Compatibilty</th>
      <td>{{ page.compatibility | escape }}</td>
      </td>
    </tr>
  </table>
</div>

{{ content }}

<!-- END code library page content -->
