<!DOCTYPE html>

<html lang="en">

<head>

{% include head.html %}

</head>

<body>

<div class="container-fluid">

<!-- BEGIN page header -->
{% include header.html %}
<!-- END page header -->

<!-- BEGIN main navigation -->
{% include navigation.html %}
<!-- END main navigation -->

</div><!-- /.container-fluid -->

<div class="container">

<!-- BEGIN main -->
<!-- ACCESSIBILITY: main id is used as target to skip navigation -->
<main id="content" roll="main"> 

<!-- BEGIN page content -->
{{ content }}
<!-- END page content -->

</main>
<!-- END main -->

{% include footer.html %}

</div><!-- /.container -->

<!-- BEGIN scripts -->
{% include scripts.html %}
<!-- END scripts -->

</body>

</html>
