<!DOCTYPE html>

<html lang="en">

<head>

{% include head.html %}

</head>

<body>

<div class="container-fluid">

<!-- BEGIN header -->
<header role="banner">

<!-- BEGIN common page header -->
{% include header.html %}
<!-- END common page header -->

<!-- BEGIN main navigation -->
{% include navigation.html %}
<!-- END main navigation -->

</header>
<!-- END header -->

</div><!-- /.container-fluid -->

<div class="container">

<!-- BEGIN main -->
<!-- ACCESSIBILITY: main id is used as target to skip navigation -->
<main id="content"> 

<!-- BEGIN page content -->
{{ content }}
<!-- END page content -->

</main>
<!-- END main -->

<!-- BEGIN footer -->
<footer>

{% include footer.html %}

</footer>
<!-- END footer -->

</div><!-- /.container -->

<!-- BEGIN scripts -->
{% include scripts.html %}
<!-- END scripts -->

</body>

</html>
